body {
    background-color: white;
}

.bg-image {
    height: 125vh;
    background-size: cover;
    background-position: center center;
}

.btn-red {
    color: #fff;
    background-color: #fa1400;
    border-color: #fa1400;
}

div.main {
    margin-top: 112px;
    width: 89vw;
    margin-left: auto;
    margin-right: auto;
}
h1 {
    color: #fa1400;
    }
h2 {
    color: red;
    }
h3 {
    color: #fa1400;
    }
h4 {
    color: #000000;
    }
h5 {
    color: #ffffff;
    }